<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damien.connecthome" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name = ".SplashScreen"
            android:label = "@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name = ".MainActivity" >
        </activity>

        <activity
            android:name = ".MainMenu" >
        </activity>

        <activity
            android:name = ".LightsMenu" >
        </activity>

        <activity
            android:name = ".AppliancesMenu" >
        </activity>

        <activity
            android:name = ".CCMenu" >
        </activity>

        <activity
            android:name = ".AlarmMenu" >
        </activity>

        <activity
            android:name = ".DisarmConfirmation" >
        </activity>

        <activity
            android:name = ".ErrorScreen" >
        </activity>

        <activity
            android:name = ".SetConfirmation" >
        </activity>

        <activity
            android:name = ".LogoutScreen" >
        </activity>
    </application>
</manifest>
